@import url();

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
}

:root{
    --bg-color: black;
    --main-color: rgba(52, 52, 191, 0.733);
    --text-color: white;
    --second-text-color: rgb(237, 223, 223);
    --white-color: #fff;
    --cover-color: linear-gradient(45deg, #5d02a7, #79027d);
    --pages-color: linear-gradient(45deg, #323a3d, #5a485c);
    --border: .125rem solid #5d02a7;
    --box-shadow: 0 0 .6rem rgba(0, 0, 0, .2);
}